<style>
  .accordion {
    margin-bottom: 20px;
    background-color: {{ section.settings.background_color }};
    color: {{ section.settings.text_color }};
  }

  .accordion__item {
    margin-bottom: 10px;
    border-color: {{ section.settings.text_color }};
    border-bottom: 1px solid;
  }

  .accordion__header {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  .accordion__header:hover {
    background-color: darken({{ section.settings.background_color }}, 10%);
  }

  .accordion__icon {
    display: inline-block;
    margin-left: 10px;
    transition: transform 0.3s;
  }
  .accordion__icon::after{
    content: "+";
  }
  .accordion__icon.rotate::after{
    content: "-";
  }

  .accordion__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s;
  }

  .accordion__content.open {
    max-height: 1000px;
    transition: max-height 0.3s;
  }
</style>

<div class="accordion nerd-container">
  <div class="nerd-page-width">
    <div class="ent-title en-text-center en-mb-4">
      {{ section.settings.title }}
    </div>
    {% for block in section.blocks %}
      <div class="accordion__item en-border-b en-border-2 en-pb-4" {{ block.shopify_attributes }}>
        <div class="accordion__header en-font-bold">
          <span>{{ block.settings.heading }}</span>
          <span class="accordion__icon"></span>
        </div>
        <div class="accordion__content">
          {{ block.settings.content }}
        </div>
      </div>

    {% else %}
      {% for i in (1..3) %}
        <div class="accordion__item en-border-b en-border-2 en-pb-4" {{ block.shopify_attributes }}>
          <div class="accordion__header en-font-bold">
            <span>Place your question or heading here</span>
            <span class="accordion__icon"></span>
          </div>
          <div class="accordion__content">Here you can place an explanation or answer to the question.</div>
        </div>
      {% endfor %}
    {% endfor %}
  </div>
</div>

<script>
  function updateFAQ() {
    var accordionItems = document.querySelectorAll('.accordion__item');

    accordionItems.forEach(function (item) {
      var header = item.querySelector('.accordion__header');
      var content = item.querySelector('.accordion__content');
      var icon = header.querySelector('.accordion__icon');

      header.addEventListener('click', function () {
        content.classList.toggle('open');
        icon.classList.toggle('rotate');
      });
    });
  }
  document.addEventListener('DOMContentLoaded', updateFAQ);
  document.addEventListener('shopify:block:select', updateFAQ);
  document.addEventListener('shopify:block:deselect', updateFAQ);
  document.addEventListener('shopify:section:reorder', updateFAQ);

  document.addEventListener('shopify:section:select', updateFAQ);

  document.addEventListener('shopify:section:deselect', updateFAQ);

  document.addEventListener('shopify:inspector:activate', updateFAQ);

  document.addEventListener('shopify:inspector:deactivate', updateFAQ);
</script>

{% schema %}
{
  "name": "Accordion/FAQ Section",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "Frequently asked questions",
      "label": "Title"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#333333"
    }
  ],
  "blocks": [
    {
      "type": "faq_block",
      "name": "FAQ Block",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Place your question or heading here"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Here you can place an explanation or answer to the question.</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "FAQ/Collapsible content"
    }
  ]
}
{% endschema %}
