{% liquid
  assign bgImage = section.settings.background_image
  assign overlayColor = section.settings.overlay_color
  assign overlayOpacity = section.settings.overlay_opacity
  assign heading = section.settings.heading
  if heading == blank
    assign heading = 'Talk about your brand'
  endif
  assign textContent = section.settings.text_content
  if textContent == blank
    assign textContent = 'Give some information about your store, products or services.'
  endif
  assign buttonText = section.settings.button_text
  assign buttonURL = section.settings.button_url
  assign buttonBackground = section.settings.button_bg_color
  assign buttonTextColor = section.settings.button_text_color
  assign contentPosition = section.settings.content_position
  assign alignment = section.settings.alignment
  assign textColor = section.settings.text_color
%}

<section class="en-relative en-w-full">
  <div class="ent-image-overlay-container en-relative en-w-full en-pb-[55%] ">
    {% if bgImage %}
      <div
        class="ent-image-overlay en-absolute en-top-0 en-left-0 en-w-full en-h-full en-bg-cover en-bg-center en-bg-no-repeat"
        style="background-image: url({{ bgImage | img_url: 'master' }});"
      >
        '
      </div>
    {% else %}
      {{
        'lifestyle-1'
        | placeholder_svg_tag: 'ent-image-overlay-svg en-absolute en-top-0 en-left-0 en-w-full en-h-full en-bg-cover en-bg-center en-bg-no-repeat'
      }}
    {% endif %}
    <div class="ent-content-wrapper en-absolute en-w-full lg:en-w-1/2 {{ contentPosition }}">
      <h2 class="en-block en-mt-4 lg:en-text-[4rem]" style="color: {{ textColor }} ">{{ heading }}</h2>
      <p class="en-block en-mt-4 lg:en-text-[2.5rem]" style="color: {{ textColor }}">
        {{ textContent }}
      </p>
      {% if buttonText %}
        <a href="{{ buttonURL }}" class="ent-overlay-button ent-button en-mt-4">
          {{- buttonText -}}
        </a>
      {% endif %}
    </div>
  </div>
</section>

<style>
    .ent-image-overlay-container {
      {% if bgImage %}
      background-color: {{ overlayColor }};
  {% endif %}
    }

    .ent-image-overlay {
      color: {{ overlayColor }};
      opacity: {{ overlayOpacity }};
    }
    .ent-image-overlay-svg {
      opacity: {{ overlayOpacity }};
    }

    .ent-content-wrapper {
      text-align: {{ alignment }};
    }

    .ent-overlay-button{
      background-color: {{ buttonBackground }};
      color: {{ buttonTextColor }};
    }

    .ent-content-wrapper.top-left { top: 10%; left: 10%; }
    .ent-content-wrapper.top-center { top: 10%; left: 50%; transform: translate(-50%, 0); }
    .ent-content-wrapper.top-right { top: 10%; right: 10%; }
    .ent-content-wrapper.center-left { top: 50%; left: 10%; transform: translate(0, -50%); }
    .ent-content-wrapper.center { top: 50%; left: 50%; transform: translate(-50%, -50%); }
    .ent-content-wrapper.center-right { top: 50%; right: 10%; transform: translate(0, -50%); }
    .ent-content-wrapper.bottom-left { bottom: 10%; left: 10%; }
    .ent-content-wrapper.bottom-center { bottom: 10%; left: 50%; transform: translate(-50%, 0); }
    .ent-content-wrapper.bottom-right { bottom: 10%; right: 10%; }

    .ent-image-overlay-section h2, .ent-image-overlay-section p {
      margin: 0;
      padding: 0;
    }

    @media screen and (max-width: 749px){
      .ent-image-overlay-container {
      min-height: 36rem;
    }
    .ent-content-wrapper{
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
    }
    }
</style>

{% schema %}
{
  "name": "Image with text overlay",
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "Overlay Color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "label": "Overlay Opacity",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "default": 1
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "textarea",
      "id": "text_content",
      "label": "Text Content"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Shop now"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button link"
    },
    {
      "type": "color",
      "id": "button_bg_color",
      "label": "Button background olor",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "Button text color",
      "default": "#000000"
    },
    {
      "type": "select",
      "id": "content_position",
      "label": "Content Position",
      "options": [
        { "value": "top-left", "label": "Top Left" },
        { "value": "top-center", "label": "Top Center" },
        { "value": "top-right", "label": "Top Right" },
        { "value": "center-left", "label": "Center Left" },
        { "value": "center", "label": "Center" },
        { "value": "center-right", "label": "Center Right" },
        { "value": "bottom-left", "label": "Bottom Left" },
        { "value": "bottom-center", "label": "Bottom Center" },
        { "value": "bottom-right", "label": "Bottom Right" }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "alignment",
      "default": "center",
      "label": "Alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#ffffff"
    }
  ],
  "presets": [
    {
      "name": "Image with text overlay"
    }
  ]
}
{% endschema %}
